<nav class="navbar navbar-expand-lg bg-success fixed-top">
    <a class="navbar-brand " href="#">
        E-Shop
        <!-- <img src="../../../assets/images/E_logo.png" class="img-fluid" height="100px" width="100px"> -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      
        <span class="navbar-toggler-icon fa fa-bar data-toggle"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#Product">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#Special">Special</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="#Pricing">Testomonial</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#AboutUs">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#Login">Login</a>
          </li>
      </ul>
    </div>
  </nav>
