<!-- Offer Section -->
<div id="home" class="home pt-1 overflow-hidden">
    <div class="p-3 m-0 border-0 bd-example">
    <div class="offer">
        <div class="row">
            <!-- Offer Box 1 -->
            <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4">
                <a href="#">
                    <div class="offer-box text-center position-relative">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="../../../assets/images/offer1.jpg" alt="offers" class="img-fluid">
                                <div class="offer-overlay"></div>
                            </div>
                            <div class="offer-info">
                                <div class="offer-info-inner">
                                    <p class="heading-bigger text-capitalize">Sale 30%</p>
                                    <p class="offer-title-1 text-uppercase font-weight-bold">Don't Miss the chance</p>
                                    <button type="button" class="btn  btn-outline-danger text-uppercase mt-4">Shop
                                        Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Offer Box 2 -->
            <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4">
                <a href="#">
                    <div class="offer-box text-center position-relative">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="../../../assets/images/offer3.jpg" alt="offers" class="img-fluid">
                                <div class="offer-overlay"></div>
                            </div>
                            <div class="offer-info">
                                <div class="offer-info-inner">
                                    <p class="heading-bigger text-capitalize">Sale 20%</p>
                                    <p class="offer-title-1 text-uppercase font-weight-bold">Don't Miss the chance</p>
                                    <button type="button" class="btn  btn-outline-danger text-uppercase mt-4">Shop
                                        Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="offer-box text-center position-relative mt-4">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="../../../assets/images/offer2.jpg" alt="offers" class="img-fluid">
                                <div class="offer-overlay"></div>
                            </div>
                            <div class="offer-info">
                                <div class="offer-info-inner">
                                    <p class="heading-bigger text-capitalize">Sale 20%</p>
                                    <p class="offer-title-1 text-uppercase font-weight-bold">Don't Miss the chance</p>
                                    <button type="button" class="btn  btn-outline-danger text-uppercase mt-4">Shop
                                        Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Offer Box 3 -->
            <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4">
                <a href="#">
                    <div class="offer-box text-center position-relative">
                        <div class="offer-inner">
                            <div class="offer-image position-relative overflow-hidden">
                                <img src="../../../assets/images/offer4.jpg" alt="offers" class="img-fluid">
                                <div class="offer-overlay"></div>
                            </div>
                            <div class="offer-info">
                                <div class="offer-info-inner">
                                    <p class="heading-bigger text-capitalize">Sale 20%</p>
                                    <p class="offer-title-1 text-uppercase font-weight-bold">Don't Miss the chance</p>
                                    <button type="button" class="btn  btn-outline-danger text-uppercase mt-4">Shop
                                        Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>